.footer{
    color: $gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright{
        display: flex;
        align-items: center;
    }

    @include pad{
        // padding: p(1.5) p(1);        

        // &,.copyright, .policy{
        //     flex-direction: column;
        //     align-items: flex-start;
        // }

        // .copy{
        //     order: 3;
        // }
    };
}

.subscribe-block{
    margin-bottom: 92px;

    h1{
        @include font(3);
        color: $black-lighten;
        font-weight: ExtraBold;
        margin-bottom: m(1.5);
        margin-top: 92px;

        @include mobile{
            @include font(1.5);
            margin-top: m(1.5);
        }
    }

    .submit-email{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    input{
        width: 30%;
        display: block;
        background-color: #fff;
        border: 1px solid #F2F2F2;
        padding-left: p(1.25);

        &:focus{
            outline: none;
        }

        @include mobile{
            width: 64%;
        }
    }

    @include pad{
        padding: p(1.5) p(1);

        h1{
            @include font(2);
            margin-bottom: m(1.5);
        };
    };

    @include mobile{
        margin-bottom: m(1.5);
    }
}

.footer-bottom{
    padding: p(1.5) 0 !important;

    @include pad{
        padding: p(1.5) 0 !important;
       *{
            @include font(0.875)
        }
    }
    @include mobile{
        padding: p(1.5) 0 !important;
       *{
            @include font(0.875)
        }
    }
}

.guideline{
    display: flex;
    justify-content: space-between;
    position: relative;   

    .circle{
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: $purple-primary;
    }

    .line{
        position: absolute;
        top: 50%;
        width: 100%;
        border-bottom: 2px solid $purple-primary;
    }
}

.card{
    border: 0;

    h5{
        margin-bottom:  m(0.25);
    }

    &-body{
        padding: p(0.5) 0;
    }

    .price{
        display: flex;

        &-sale{
            margin-right: m(0.5);
        }

        &-origin{
            color: $gray
        }
    }
}

//modal

.modal-dialog{
    margin: 0;
}

.modal-content{
    border-radius: 0;
    height: 100vh;
    overflow: auto;
    background-color: $gray-light;
}

.fa-sort-amount-down{
    margin-right: 8px;
}

.modal-header{
    align-items: center;
    background-color: #fff;
}

.modal-body{
    hr{
        width: 100%;
        border: 1px solid #fff;
    }
}



.modal-footer{
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    color: #fff;
}

.block-bottom{
    display: flex;
}

.block-btn{
    flex: 1;
}

