//font
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700;1,800;1,900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto','Raleway', sans-serif;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}

.container-fluid{
    padding: 0;
}
