.modal-form{
    a{
        display: inline-block;
    }

    input[type="text"]{
        max-width: 350px;
        padding: p(0.5);
        // line-height: 56px;
    }

    input[type="checkbox"]{
        background-color: #fff;
        &:checked{
            background-color: $purple-primary;
        }
    }
}


.lattice {
    appearance: none;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 2px solid #000;
}

.lattice-style {
    width: 18px;
    height: 18px;
    position: relative;
}

.lattice-style:checked::before {
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    top: -1px;
    left: -1px;
    background: $purple-primary;
    border: 3px solid $purple-primary;
    
}
.lattice-style:checked::after {
    content: '\2713';
    display: block;
    position: absolute;
    top: 3px;
    left: 2px;
    width: 16px;
    height: 16px;
    line-height: 10px;
    color: $white;
    font-size: 16px;
    
}

.bottom-bar{
    width: 115px;
    text-align: center;
    border-bottom: 2px solid $gray-light;
    padding-bottom: 2px;

}

.bottom-bar-active{
    width: 115px;
    text-align: center;
    border-bottom: 2px solid $purple-primary;
    padding-bottom: 2px;
}

.block-price{
    padding: p(1);
    background-color: #fff;
    flex: 1;

    &-top{
        flex: 1;
    }

    &-bottom{
        flex: 1;
    }
}